@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>

                </Authorized>
                <NotAuthorized>
                    <LogIn />
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <div class="content px-4">
            <AuthorizeView>
                <Authorized>
                     @Body
                </Authorized>
                <NotAuthorized>
                   You need to be logged In to view this website information.
                </NotAuthorized>
            </AuthorizeView>
            
        </div>
    </div>
</div>
